<h2>Buyer Dashboard</h2>

<nav>
  <%= link_to "Available Products", dashboard_buyer_path %> |
  <%= link_to "Accepted Requests", dashboard_buyer_path(status: "accepted") %> |
  <%= link_to "Rejected Requests", dashboard_buyer_path(status: "rejected") %>
</nav>

<hr>

<% if params[:status] == "approved" || params[:status] == "rejected" %>
  <h3><%= params[:status].capitalize %> Products</h3>
  <% @products.each do |product| %>
    <div>
      <strong><%= product.product_name %></strong> - ₹<%= product.cost %>
    </div>
  <% end %>
<% else %>
  <h3>Available Products</h3>
  <% @products.each do |product| %>
  <div>
    <p><strong><%= product.product_name %></strong> - ₹<%= product.cost %></p>

    <% request = product.buyer_requests.find_by(buyer_id: current_user.id) %>

    <% if request.nil? || request.pending? %>
<%= button_to "Request This Product", buyer_requests_path(product_id: product.id), method: :post %>
    <% else %>
      <p>You have already <%= request.status %> this product.</p>
    <% end %>
  </div>
<% end %>

<% end %>
